* {
   box-sizing: border-box;
}

body{
	background: #162831;
   font-family: 'Proxima Nova', sans-serif;
}

.header {
padding-top: 30px;
padding-bottom: 50px;
border-bottom: 10px;
color: #ffffff ;
margin: 0 auto;
width: 100%;
max-width: 1296px;
}

p {
   margin: 0;
   font-size: 16px;
   line-height: 32px;
   margin-bottom: 15px;
}

ul, ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.wrapper{
margin: 0 auto;
width: 100%;
max-width: 1296px;
}

.header__inner {
display: flex;
justify-content: space-between;
align-items: center;
}

.menu{
   display: flex;
   flex-direction: row;
   flex-wrap:nowrap;
   gap: 50px;
   font-family: 'El Messiri', sans-serif;
}
.menu__item{
   color: #ffffff;
   font-size: 14px;
}
a {
   text-decoration: none;
}

.content{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.main-btn {
   padding: 11px 15px;
   font-size: 13px;
   color: #FFFFFF;
   background: #018ABE;
   border-radius: 5px;
}
.main-btn:hover{
   color:#162831;
   text-decoration: underline;
}


.hero{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 600px;
   background-image: url("images/pool.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 10px;
}

.content__tittle{
   font-family: 'El Messiri', sans-serif;
   font-weight: 700;
   font-size: 64px;
   line-height: 140%;
   color: #ffffff;
   text-align: center;
}

.content__inf {
   margin-bottom: 40px;
   font-family: 'El Messiri', sans-serif;
   font-weight: 700;
   font-size: 24px;
   color: #ffffff;
}
.small__zag{
   padding: 150px 0;

}
.small_zag2{
   margin-bottom: 100px;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    color: #ffffff;
    text-align: center;
}

.grid{
   display: grid;
    grid-template:
        "a b c"
        "a d e";
    grid-template-rows: 258px;
    gap: 24px;
}
.grid__item {
   position: relative;
   display: flex;
   align-items: flex-end;
   grid-area: small;
   padding: 30px 40px;
   color: #ffffff;
   border-radius: 10px;
   overflow: hidden;
}

   .grid__item:first-child {
      grid-area: a;
      height: 540px;
      padding: 50px;
  }
  
  .grid__item:nth-child(2) {
      grid-area: b;
  }
  
  .grid__item:nth-child(3) {
      grid-area: c;
  }
  
  .grid__item:nth-child(4) {
      grid-area: d;
  }
  
  .grid__item:nth-child(5) {
      grid-area: e;
  }
  
  .grid__img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
  }
  
  .grid__title {
      position: relative;
      font-family: 'El Messiri', sans-serif;
      font-weight: 700;
      font-size: 24px;
      color: #ffffff;
  }

  .info__obo {
   padding: 150px 0;

  }
  .inf_obo-title {
   text-align: center;
}

  .inf_obo2 {
   position: relative;
   display: inline-block;
   padding: 0 45px;
   margin-bottom: 100px;
   font-family: 'El Messiri', sans-serif;
   font-weight: 300;
   font-size: 42px;
   line-height: 140%;
   color: #ffffff;
   text-align: center;
}
.inf_obo2::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   margin: auto;
   width: 28px;
   height: 14px;
   background-image: url("images/лепесток\ лево\ \(2\).png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.inf_obo2::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 28px;
   height: 14px;
   background-image: url("images/лепесток\ право\ \(2\).png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.small_zag2::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   margin: auto;
   width: 28px;
   height: 14px;
   background-image: url("images/лепесток\ лево\ \(2\).png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.small_zag2::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 28px;
   height: 14px;
   background-image: url("images/лепесток\ право\ \(2\).png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.cost2::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   margin: auto;
   width: 28px;
   height: 14px;
   background-image: url("images/лепесток\ лево\ \(2\).png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.cost2::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   width: 28px;
   height: 14px;
   background-image: url("images/лепесток\ право\ \(2\).png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
  .grid2 {
   display: grid;
   grid-template:
       "a b"
       "c d";
   gap: 24px;
}

.grid__desc{
   position: relative;
   grid-area: small;
   padding: 30px 40px;
   color: #ffffff;
   border-radius: 10px;
   overflow: hidden;
  
}
.title__mini{
   font-family: 'El Messiri', sans-serif;
   font-size: 24px;
}

.grid__st,
.grid__st2 {
   font-family: 'Quattrocento Roman', sans-serif;
}


.grid__img2 {
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
}

.grid__desc:first-child {
   grid-area: a;
   padding: 50px;
}

.grid__desc:nth-child(2) {
   grid-area: b;
}

.grid__desc:nth-child(3) {
   grid-area: d;
}

.grid__desc:nth-child(4) {
   grid-area: c;
}
.cost {
   padding: 150px 0;
}

  .cost2 {
   margin-bottom: 100px;
    font-family: 'El Messiri', sans-serif;
    font-weight: 243;
    font-size: 42px;
    line-height: 140%;
    color: #ffffff;
    text-align: center;
  }

  .text {
   margin-bottom: 20px;
}

.main__features {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 150px;

}

.sertificate__tittle {
   font-size: 21px;
   color: #ffffff;
   font-family: 'El Messiri', sans-serif;
   margin-bottom: 10px;
   text-align: center;
   margin-top: 30px;
}
.features__cost {
   color: #ffffff;
   font-size: 18px;
   text-align: center;
   font-family: 'El Messiri', sans-serif;
   text-overflow: clip;
   margin-left: 134px;

}
.features__cost:hover{
   color: #000;
   transition: margin-left 4s;
}

.small__cost {
   text-align: right; /* Выравнивание по правому краю */
   padding-right: 220px; /* Отступ справа */
   padding-bottom: 31px;
}
.mini__cost {
   position: relative; /* Относительное позиционирование */
    top: -1px; /* Смещаем поля вверх */
    margin-bottom: 31px;
    padding-left: 60px; /* Расстояние между строк */
}
.map__info {

}
.map__move {
   border-radius: 10px;
}

.map__move-inner {
   border-radius: 10px;
}

.grid3{
   display: grid;
    grid-template:
        "a b "
        "a d ";
    gap: 24px;
}
.grid__map {
   position: relative;
   grid-area: small;
   padding-top: 24px;
   padding-right: 48px;
   border-radius: 10px;
   overflow: hidden;
    background:#018ABE;
    border-radius: 10px;
    color: #FFFFFF;

}

.grid__map__map--big {
   grid-area: a;
}

 .grid__map:nth-child(2) {
     grid-area: b;
 }


 .grid__map:nth-child(3) {
     grid-area: d;
 }
  
  
  .grid__title__map {
   position: relative;   
   font-weight: 700;
   font-size: 24px;
   color: #ffffff;
   font-family: 'El Messiri', sans-serif;
   padding-bottom: 21px;
   padding-left: 45px;
  }

  .small__word{
   font-family: 'El Messiri', sans-serif;
   font-size: 14px;
   color: #ffffff;
  }

  .features__cost {
   width: 50%;
  }

  .features__cost li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px
  }

  .white-btn {
   font-size: 13px;
   color: #018ABE;
   background:#FFFFFF;
   font-family: 'El Messiri', sans-serif;
   padding: 9px 18px;
   margin-left: 48px;
   border-radius: 5px;
   margin-bottom: 35px;
  }
  .white-btn:hover{
   color:#162831;
   text-decoration: underline;
}

  .address {
   padding-bottom: 15px;
  }

.address__item {
   display: flex;
padding-left: 48px;
padding-bottom: 21px;
gap: 23px;
}
.small_word {
   color: #ffffff;
   font-size: 14px;
   font-family: 'El Messiri', sans-serif;

}
.vl {
   border-bottom: 1px solid #ffffff;
   margin: 0 auto;
   width: 100%;
   max-width: 1296px;
}

.tittle_news_small {
   margin-bottom: 100px;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    color: #ffffff;
    text-align: center;
}

.grid4 {
   display: grid;
    grid-template:
        "a b c"
        "d e f";
    gap: 24px;
    grid-template-rows: 258px 258px;
    grid-template-columns: 416px 416px;
    
}
.grid__new {
   position: relative;
   display: flex;
   align-items: flex-end;
   grid-area: small;
   padding: 30px 30px;
   color: #ffffff;
   border-radius: 10px;
   overflow: hidden;

}

   .grid__new:first-child {
      grid-area: a;

}
  
  .grid__new:nth-child(2) {
      grid-area: b;
  }
  
  .grid__new:nth-child(3) {
      grid-area: c;
  }
  
  .grid__new:nth-child(4) {
      grid-area: d;
  }
  
  .grid__new:nth-child(5) {
      grid-area: e;
  }

  .grid__new:nth-child(6) {
   grid-area: f;
}
  
  .grid__img4 {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
  }
  
  .grid__title_new {
      position: relative;
      font-family: 'El Messiri', sans-serif;
      font-weight: 700;
      font-size: 21px;
      color: #ffffff;
  }
  
  .tittle_news {
   padding: 60px 0px ;
   margin: 0 auto;
   width: 100%;
   max-width: 1296px
  }
  .number {
   position: absolute;
   font-family: 'El Messiri', sans-serif;
   text-align:left;
   font-size: 14px;
   background:#018ABE;
   padding: 5px 12px;
   border-radius: 5px;
   top:30px;
   left:35px;
  }
  
  .vl2 {
   border-bottom: 1px solid #ffffff;
   margin: 0 auto;
   width: 100%;
   max-width: 1296px;
   padding-top: 120px;
}
.small_word2 {
   color: #ffffff;
   font-size: 14px;
   font-family: 'El Messiri', sans-serif; 
   padding-top: 30px;
}

.form_main {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
   gap:134px;
   text-overflow: clip;
}

.form_text {
display: flex;
flex-direction: column;
}

.form_date {
   position: absolute;
   font-family: 'El Messiri', sans-serif;
   font-size: 14px;
   background:#018ABE;
   padding: 5px 12px;
   border-radius: 5px;
   margin-bottom: 50px;
   color: #ffffff;
}

.form_tittle {
   font-family: 'El Messiri', sans-serif;
   font-size: 24px;
   color: #ffffff;
   padding-top: 50px;
}

.form_small_text {
   font-family: 'El Messiri', sans-serif;
   font-size: 16px;
   color: #ffffff;
   text-overflow: clip;
   text-align:left;
}

.line_bt {
   border-top: #ffffff;
   border: 40px;
   margin: 0 auto;
   width: 100%;
   max-width: 1296px;
}


.hamburger {
   display: none;
   z-index: 1000;
   width: 40px;
   height: 16px;
   padding: 0;
   background: transparent;
   overflow: visible;
   text-align: center;
   border: none;
   outline: none;
   cursor: pointer;
   appearance: none;
}

.hamburger span {
   display: block;
   width: 100%;
   height: 2px;
   background: #fff;
   transition: all 0.3s ease-out;
}

.hamburger span:before {
   content: "";
   position: relative;
   top: -10px;
   display: block;
   width: 100%;
   height: 2px;
   background: #fff;
}

.hamburger span:after {
   content: "";
   position: relative;
   top: 10px;
   display: block;
   width: 100%;
   height: 2px;
   background: #fff;
}

.hamburger.open span:before {
   content: none;
}

.hamburger.open span {
   transform:  rotate(-45deg);

}

.hamburger.open span:after {
   transform: translateY(-10px) rotate(90deg);

}

@media(max-width: 900px) {
   .menu {
       display: none;
   }

   .hamburger {
       display: block;
   }

}

